@import "tailwindcss";
@config "../../tailwind.config.js";

@layer components {
  .slider {
    transition: 0.4s;
  }

  .slider::before {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    left: 22px;
    top: 2px;
    transition: 0.4s;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  }

  input:checked + #slider {
    @apply bg-green-500;
  }

  input:checked + #slider:before {
    transform: translateX(-16px);
  }
}
@layer utilities {
  /* 進度條樣式 */
  .shim-green {
    position: relative;
    overflow: hidden;
    background-color: rgba(65, 100, 255, 0.7);
  }

  .shim-green::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(233, 233, 233, 1) 0,
      rgba(233, 233, 233, 0.9) 50%,
      rgba(233, 233, 233, 0.8) 100%
    );
    animation: shimmer 2s ease-out infinite;
    content: '';
  }

  @keyframes shimmer {
    100% {
      transform: translateX(0%);
      opacity: 0;
    }
  }

  /* 滾動條樣式 */
  .scrollbar::-webkit-scrollbar {
    width: 12px;
  }

  /* Track */
  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-500;
    border-radius: 10px;
  }

  /* Handle on hover */
  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-blue-400;
  }

  .scrollbar::-webkit-scrollbar-corner {
    background: transparent;
  }
}
